In [1]:
import pandas as pd

In [2]:
df4=pd.read_csv(r"C:\Users\NV Studios i7\Desktop\ATS\AI&ML\DataSets\Students Social Media Addiction.csv")
df4.head()

,Student_ID,Age,Gender,Academic_Level,Country,Avg_Daily_Usage_Hours,Most_Used_Platform,Affects_Academic_Performance,Sleep_Hours_Per_Night,Mental_Health_Score,Relationship_Status,Conflicts_Over_Social_Media,Addicted_Score
0,1,19,Female,Undergraduate,Bangladesh,5.2,Instagram,Yes,6.5,6,In Relationship,3,8
1,2,22,Male,Graduate,India,2.1,Twitter,No,7.5,8,Single,0,3
2,3,20,Female,Undergraduate,USA,6.0,TikTok,Yes,5.0,5,Complicated,4,9
3,4,18,Male,High School,UK,3.0,YouTube,No,7.0,7,Single,1,4
4,5,21,Male,Graduate,Canada,4.5,Facebook,Yes,6.0,6,In Relationship,2,7

In [3]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
df4['Encoded'] = le.fit_transform(df4['Academic_Level'])
df4[['Encoded','Academic_Level']].head()

   Encoded Academic_Level
0        2  Undergraduate
1        0       Graduate
2        2  Undergraduate
3        1    High School
4        0       Graduate

In [4]:
df4En = pd.get_dummies(df4,columns=['Affects_Academic_Performance'])
df4En[['Affects_Academic_Performance_Yes','Affects_Academic_Performance_No']].head()

   Affects_Academic_Performance_Yes  Affects_Academic_Performance_No
0                              True                            False
1                             False                             True
2                              True                            False
3                             False                             True
4                              True                            False

In [5]:
from sklearn.model_selection import train_test_split
g=df4['Sleep_Hours_Per_Night']
h=df4.drop('Sleep_Hours_Per_Night',axis=1)
h_train, h_test, g_train, g_test = train_test_split(h, g, test_size=0.2, random_state=1)
print(h_train.shape)
print(h_test.shape)
print(g_train.shape)
print(g_test.shape)

(564, 13)
(141, 13)
(564,)
(141,)