In [1]:
import pandas as pd

In [2]:
df3=pd.read_csv(r"C:\Users\NV Studios i7\Desktop\ATS\AI&ML\DataSets\penguins_lter.csv")
df3.head(10)

,studyName,Sample Number,Species,Region,Island,Stage,Individual ID,Clutch Completion,Date Egg,Culmen Length (mm),Culmen Depth (mm),Flipper Length (mm),Body Mass (g),Sex,Delta 15 N (o/oo),Delta 13 C (o/oo),Comments
0,PAL0708,1,Adelie Penguin (Pygoscelis adeliae),Anvers,Torgersen,"Adult, 1 Egg Stage",N1A1,Yes,11/11/07,39.1,18.7,181.0,3750.0,MALE,NaN,NaN,Not enough blood for isotopes.
1,PAL0708,2,Adelie Penguin (Pygoscelis adeliae),Anvers,Torgersen,"Adult, 1 Egg Stage",N1A2,Yes,11/11/07,39.5,17.4,186.0,3800.0,FEMALE,8.94956,-24.69454,NaN
2,PAL0708,3,Adelie Penguin (Pygoscelis adeliae),Anvers,Torgersen,"Adult, 1 Egg Stage",N2A1,Yes,11/16/07,40.3,18.0,195.0,3250.0,FEMALE,8.36821,-25.33302,NaN
3,PAL0708,4,Adelie Penguin (Pygoscelis adeliae),Anvers,Torgersen,"Adult, 1 Egg Stage",N2A2,Yes,11/16/07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Adult not sampled.
4,PAL0708,5,Adelie Penguin (Pygoscelis adeliae),Anvers,Torgersen,"Adult, 1 Egg Stage",N3A1,Yes,11/16/07,36.7,19.3,193.0,3450.0,FEMALE,8.76651,-25.32426,NaN
5,PAL0708,6,Adelie Penguin (Pygoscelis adeliae),Anvers,Torgersen,"Adult, 1 Egg Stage",N3A2,Yes,11/16/07,39.3,20.6,190.0,3650.0,MALE,8.66496,-25.29805,NaN
6,PAL0708,7,Adelie Penguin (Pygoscelis adeliae),Anvers,Torgersen,"Adult, 1 Egg Stage",N4A1,No,11/15/07,38.9,17.8,181.0,3625.0,FEMALE,9.18718,-25.21799,Nest never observed with full clutch.
7,PAL0708,8,Adelie Penguin (Pygoscelis adeliae),Anvers,Torgersen,"Adult, 1 Egg Stage",N4A2,No,11/15/07,39.2,19.6,195.0,4675.0,MALE,9.46060,-24.89958,Nest never observed with full clutch.
8,PAL0708,9,Adelie Penguin (Pygoscelis adeliae),Anvers,Torgersen,"Adult, 1 Egg Stage",N5A1,Yes,11/9/07,34.1,18.1,193.0,3475.0,NaN,NaN,NaN,No blood sample obtained.
9,PAL0708,10,Adelie Penguin (Pygoscelis adeliae),Anvers,Torgersen,"Adult, 1 Egg Stage",N5A2,Yes,11/9/07,42.0,20.2,190.0,4250.0,NaN,9.13362,-25.09368,No blood sample obtained for sexing.

In [5]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
df3['ClutchEncoded']=le.fit_transform(df3['Clutch Completion'])
df3[['ClutchEncoded','Clutch Completion']].head(10)

   ClutchEncoded Clutch Completion
0              1               Yes
1              1               Yes
2              1               Yes
3              1               Yes
4              1               Yes
5              1               Yes
6              0                No
7              0                No
8              1               Yes
9              1               Yes

In [6]:
df3En = pd.get_dummies(df3,columns=['Sex'])
df3En[['Sex_MALE','Sex_FEMALE']].head(10)

   Sex_MALE  Sex_FEMALE
0      True       False
1     False        True
2     False        True
3     False       False
4     False        True
5      True       False
6     False        True
7      True       False
8     False       False
9     False       False

In [8]:
from sklearn.model_selection import train_test_split
e=df3['Culmen Length (mm)']
f=df3.drop('Culmen Length (mm)',axis=1)
e_train,f_train,e_test,f_test=train_test_split(e,f,test_size=0.2,random_state=1)
print(e_train.shape)
print(e_test.shape)
print(f_train.shape)
print(f_test.shape)

(275,)
(275, 17)
(69,)
(69, 17)