In [1]:
import pandas as pd

In [2]:
df5=pd.read_csv(r"C:\Users\NV Studios i7\Desktop\ATS\AI&ML\DataSets\Area_Population_Density_and_Population_2011_Census.csv")
df5.head()

,District,Geograpical Area (Sq.Kms),Population Density,Male,Female,Total,Percentage Share to Total Population,Rank
0,Chikkodi,851,419,181619,174525,356144,7.45,6.0
1,Athani,1554,240,190310,182265,372575,7.80,5.0
2,Raibag,952,426,207142,198347,405489,8.48,2.0
3,Gokak,1146,348,200104,198288,398392,8.34,4.0
4,Hukkeri,987,405,200490,198780,399270,8.35,3.0

In [3]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df5['encoded_rank'] = le.fit_transform(df5['Rank'])
df5[['encoded_rank','Rank']].head()

   encoded_rank  Rank
0             5   6.0
1             4   5.0
2             1   2.0
3             3   4.0
4             2   3.0

In [4]:
df5En = pd.get_dummies(df5,columns=['Rank'])
df5En[['Rank_1.0','Rank_2.0', 'Rank_3.0', 'Rank_4.0', 'Rank_5.0']].head()

   Rank_1.0  Rank_2.0  Rank_3.0  Rank_4.0  Rank_5.0
0     False     False     False     False     False
1     False     False     False     False      True
2     False      True     False     False     False
3     False     False     False      True     False
4     False     False      True     False     False

In [5]:
from sklearn.model_selection import train_test_split
i = df5['Geograpical Area (Sq.Kms)']
j = df5.drop('Geograpical Area (Sq.Kms)',axis=1)
i_train,i_test,j_train,j_test=train_test_split(i,j,test_size=0.3,random_state=1)
print(i_train.shape)
print(i_test.shape)
print(j_train.shape)
print(j_test.shape)

(159,)
(69,)
(159, 8)
(69, 8)